.root {
  position: relative;
  width: 1920px;
  height: 1080px;
  align-items: flex-start;
  background-color: #f6f6f6;
  overflow: hidden;
}
.rectangle12 {
  position: absolute;
  left: 0;
  top: 0;
  width: 745px;
  height: 360px;
  background-color: #023246;
  box-shadow: 5px 1px 4px 0px #000;
}
.helloWelcomeBack {
  color: #023246;
  font-size: 48px;
  line-height: 100px;
  font-family: Aksara Bali Galang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2em;
  position: absolute;
  left: 817px;
  top: 129px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.emailID {
  color: #023246;
  font-size: 36px;
  line-height: 100px;
  font-family: Aksara Bali Galang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2em;
  position: absolute;
  left: 812px;
  top: 354px;
  width: 222px;
  height: 59px;
  justify-content: center;
  flex-direction: column;
}
.password {
  color: #023246;
  font-size: 36px;
  line-height: 100px;
  font-family: Aksara Bali Galang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2em;
  position: absolute;
  left: 812px;
  top: 470px;
  width: 222px;
  height: 59px;
  justify-content: center;
  flex-direction: column;
}
.rectangle57 {
  position: absolute;
  left: 1288px;
  top: 460px;
  width: 559px;
  height: 59px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 15px;
  background-color: #fdfdfd;
  box-shadow: 0px 4px 4px 0px #023246;
}
.rectangle58 {
  position: absolute;
  left: 1288px;
  top: 354px;
  width: 559px;
  height: 59px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 15px;
  background-color: #fdfdfd;
  box-shadow: 0px 4px 4px 0px #023246;
}
.ifYouAreYetNotSignedUp {
  color: #023246;
  font-size: 24px;
  line-height: 10px;
  font-family: Aksara Bali Galang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1em;
  position: absolute;
  left: 812px;
  top: 220px;
  width: 481px;
  height: 50px;
  justify-content: center;
  flex-direction: column;
}
.signUp {
  color: #267190;
  font-size: 28px;
  line-height: 10px;
  font-family: Aksara Bali Galang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1em;
  position: absolute;
  left: 1215px;
  top: 236px;
  width: 122px;
  height: 17px;
  justify-content: center;
  flex-direction: column;
}
.rectangle43 {
  position: absolute;
  left: 1623px;
  top: 622px;
  width: 224px;
  height: 71px;
  border-radius: 20px;
  background-color: #023246;
}
.logIn {
  color: #fff;
  font-size: 32px;
  line-height: 10px;
  font-family: Aksara Bali Galang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1em;
  position: absolute;
  left: 1673px;
  top: 658px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.logIn2 {
  color: #fff;
  font-size: 96px;
  line-height: 100px;
  font-family: Aksara Bali Galang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2em;
  position: absolute;
  left: 137px;
  top: 161px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle62 {
  position: absolute;
  left: 0;
  top: 354px;
  width: 745px;
  height: 720px;
  background-color: #fff;
  box-shadow: 5px 5px 4px 0px #000;
}
.image10 {
  position: absolute;
  left: 50px;
  top: 413px;
  width: 645px;
  height: 560px;
  background-image:/* webpackIgnore: true */ url('assets/image10.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
